/* estilos.css */
body {
  margin: 40px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
}

.seccion {
  border: 2px solid #ddd;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #d60000;
}
